
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
.idea
config/personnages_data.json
/public/assets/img
###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpcs-fixer ###
tools
.php-cs-fixer.cache
###< phpcs-fixer ###

###> rector ###
rector.php
###< rector ###
