
.container-fluid {
  display: flex;
  gap:2em;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding-top: 7.5em;
  align-items: center;
  padding-bottom: 2em;
  margin-bottom: 5em;
}



.logo{
  background-color: white;
}

.flash-success{
  background: #a9e3a9;
  color: white;
  padding: 2em;
  width: 100%;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 1.5em;
  text-align: center;
}


@keyframes rotate {
  from {
      transform: rotate(-1turn);
  }

  to {
      transform:rotate(0);
  }
}




section{
 
  padding-inline: 1em;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
 
}
