
.container-fluid {
  display: flex;
  gap:2em;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding-top: 7.5em;
  align-items: center;
  padding-bottom: 2em;
}

.box {
  height: 250px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  background-size: cover;
  position:relative;
  z-index: 999;
  cursor: pointer;
}

.logo{
  /*border-radius: 50%;*/
  background-color: white;
}

.box:hover {
  animation : rotate 1s ease-in-out;
}

@keyframes rotate {
  from {
      transform: rotate(-1turn);
  }

  to {
      transform:rotate(0);
  }
}


.box {
  display: block;

}

.nameCharacter {
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  box-shadow: 5px 5px 10px black;
  padding:.1em 1em;
  z-index: 2;
  cursor: pointer;
  color:white;
  font-size: 1em;
  text-align: center;
}


section{
 
  padding-inline: 1em;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
 
}
