/* Edu VIC WA NT Beginner Bold 700 */
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@700&display=swap');


body {
    font-family: 'Edu VIC WA NT Beginner';
    overflow-x: hidden;
}

nav {
    display: flex;
    gap: 4em;
    justify-content: center;
    font-size: 1.5em;
    line-height: 70px;
    padding-bottom: 1em;
    margin-bottom: 2em;
    padding-top: 1em;
}

.logo {
    position: relative;
    top: 2px;
    border-radius: 50px;
}

a:visited {
    color: var(--black);
}

a {
    cursor: pointer;
    color: var(--black);
    font-size: 2em;
}

#create {
    position: relative;
    top: 16px;
}


#create::after {
    content: '';
    position: absolute;
    border-bottom: 1px solid #1291e5;
    bottom: -14px;
    display: block;
    border-width: 5px;
    width: 0%;
    transition: width 700ms ease-in-out;

}

#create:hover::after {
    width: 100%;
}

header .village_link {
    text-decoration: none;
}

#konoha {
    position: relative;
}

#konoha::after {
    content: '';
    position: absolute;
    border-bottom: 1px solid var(--kaki);
    bottom: -14px;
    display: block;
    border-width: 5px;
    width: 0%;
    transition: width 400ms ease-in-out;

}

#konoha:hover::after {

    width: 100%;
}


#kumo {
    position: relative;
}

#kumo::after {
    content: '';
    position: absolute;
    border-bottom: 1px solid var(--cream);
    bottom: -14px;
    display: block;
    border-width: 5px;
    width: 0%;
    transition: width 700ms ease-in-out;

}

#kumo:hover::after {

    width: 100%;
}


#suna {
    position: relative;
}

#suna::after {
    content: '';
    position: absolute;
    border-bottom: 1px solid var(--emeraldEntrance);
    bottom: -14px;
    display: block;
    border-width: 5px;
    width: 0%;
    transition: width 700ms ease-in-out;

}

#suna:hover::after {
    width: 100%;
}


@media screen and (max-width: 1115px) {

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1em;
    }
}