
.box {
    height: 250px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-size: cover;
    position: relative;
    z-index: 999;
    cursor: pointer;
}

.box:hover {
    animation: rotate 1s ease-in-out;
}

@keyframes rotate {
    from {
        transform: rotate(-1turn);
    }

    to {
        transform: rotate(0);
    }
}


.box {
    display: block;

}



.container-fluid {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    align-items: center;
    padding-bottom: 5em;
}




#back:hover {

    animation: moveToLeft ease-in 400ms
}


@keyframes moveToLeft {

    from {
        position: relative;
        right: 0px;
    }

    to {
        position: relative;
        right: 12px;
    }
}