*,::after,::before {
  margin: 0;
  padding: 0;
}

:root {

  /* COLORS */ 

  --cream :#FFFDD0;
  --emeraldEntrance : #b68d40;
  --kaki : #6B8E23;
}

body {
  /* display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; */
  font-family: 'Yellowtail';
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  padding-bottom: 2em;
}


/* #back{
  display: block;
  position: absolute;
  top:.2em;
  left:0;
}

#back:visited{
  color: black;
}
.fa-solid {
  font-size: 3em;
  padding: 1em;
} */



.container {
  margin-top: 15em;
  display: flex;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  width: 1440px;
}

.left {
background-size: cover;
width: 50%;
}

.right{
  width: 50%;
}

.nameOfTheCharacter {
  text-align: center;
  text-decoration: underline;
  padding-top: 1em;

}



.left img {
  width: 100%;
  height: 100%;
  display: block;
}

.historyOfTheCharacter{
  line-height: 2.8em;
  padding-inline: 2em;
  font-size: 2em;
}